<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head'); %>
<body class=" container">
    <%- include('../partials/header'); %> 
<main class="bg-tertiary-color">
<div class="row d-flex aling-items-center" style="height: 500px;">
<div class="col-12 col-lg-6">
    <h1 class="py-3">Nome do meu projeto</h1>
    <p class="py-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis deserunt voluptatem rem ut iusto tempora vel. Itaque similique inventore debitis molestiae rem illum obcaecati! Tempore itaque doloremque voluptatem sequi vitae!</p>
</div>
</div>
</main>
    <%- include('../partials/footer'); %> 
</body>
</html>